.addList {
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0.2s;
}

.addList:not(:last-child) {
  opacity: 0;
}

.addList:hover {
  opacity: 1;
}

.addList__buttons {
  position: relative;
  bottom: 1.3rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 100;
}

.divider {
  position: absolute;
  border: 1px solid #fff;
  top: -0.5rem;
  width: 100%;
}
